<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<false/>
					<key>File References</key>
					<array/>
				</dict>
				<key>Minimum Application Version</key>
				<string>7.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/iac/Desktop/publish/</key>
					<dict>
						<key>CreationDate</key>
						<date>2016-10-28T20:54:17Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								NI2VIItvaVcV
								3O8H3LeBWg==
								</data>
								<key>Size</key>
								<integer>4756</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string>styled</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:Voyager - file:///Users/iac/Desktop/publish/</key>
					<dict>
						<key>CreationDate</key>
						<date>2016-10-28T20:54:17Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								mSny3p/fhQMy
								uAR5h1WHjg==
								</data>
								<key>Size</key>
								<integer>149119</integer>
							</dict>
							<key>images/banners/default_banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dwjwK20IA28M
								qw+YcCNf/Q==
								</data>
								<key>Size</key>
								<integer>198561</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								iTaGLk0NKrMX
								hSvOZBMTyw==
								</data>
								<key>Size</key>
								<integer>10724</integer>
							</dict>
							<key>js/elixir.js</key>
							<dict>
								<key>Digest</key>
								<data>
								eIIBh122XFQO
								8R718CuuHA==
								</data>
								<key>Size</key>
								<integer>2526</integer>
							</dict>
							<key>js/fitvids.js</key>
							<dict>
								<key>Digest</key>
								<data>
								cGG1Dur+zTIp
								Q22jBY6fbg==
								</data>
								<key>Size</key>
								<integer>2163</integer>
							</dict>
							<key>js/jquery.min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ensYYGRIve0i
								zRz0jUcSzA==
								</data>
								<key>Size</key>
								<integer>84344</integer>
							</dict>
							<key>js/sidebar/sidebar_hidden.js</key>
							<dict>
								<key>Digest</key>
								<data>
								SRS4eWVXK9er
								IP1cgHtLCQ==
								</data>
								<key>Size</key>
								<integer>303</integer>
							</dict>
							<key>js/sidebar/sidebar_left.js</key>
							<dict>
								<key>Digest</key>
								<data>
								InAonBvK0ovn
								dkNrJR3p+g==
								</data>
								<key>Size</key>
								<integer>332</integer>
							</dict>
							<key>js/sidebar/sidebar_right.js</key>
							<dict>
								<key>Digest</key>
								<data>
								AmCXV6GC9QnL
								dNZ/i07luw==
								</data>
								<key>Size</key>
								<integer>304</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:Voyager</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/Voyager</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGUlNYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QEQcIExQVHyIp
				LTE1OT1FSExQVSRudWxs0wkKCwwPEldOUy5rZXlzWk5T
				Lm9iamVjdHNWJGNsYXNzog0OgAKAA6IQEYAEgAyAEFhk
				YXRhYmFzZVRub2Rl1QsWFxgZGhscHR5eSWRlbnRpZmll
				ciBNYXBYUGFnZSBNYXBYTm9kZSBNYXBZUmVzb3VyY2Vz
				gAuAB4AKgAmABdIKCyAhoIAG0iMkJSZaJGNsYXNzbmFt
				ZVgkY2xhc3Nlc1xOU011dGFibGVTZXSjJScoVU5TU2V0
				WE5TT2JqZWN00wkKCyorLKCggAjSIyQuL18QE05TTXV0
				YWJsZURpY3Rpb25hcnmjLjAoXE5TRGljdGlvbmFyedMJ
				CgsyMyygoIAI0wkKCzY3LKCggAjSIyQ6O18QElJXUmVz
				b3VyY2VEYXRhYmFzZaI8KF8QElJXUmVzb3VyY2VEYXRh
				YmFzZdQLPj9AQUJDQ1hDaGlsZHJlblZQYXJlbnRfEBJS
				ZXByZXNlbnRlZCBPYmplY3SAD4ANgACAANIKC0ZHoIAO
				0iMkSUpeTlNNdXRhYmxlQXJyYXmjSUsoV05TQXJyYXnS
				IyRNTl8QEFJXU291cmNlTGlzdE5vZGWiTyhfEBBSV1Nv
				dXJjZUxpc3ROb2Rl0iMkMFGiMChfEA9OU0tleWVkQXJj
				aGl2ZXLRVFVUcm9vdIABAAgAEQAaACMALQAyADcASwBR
				AFgAYABrAHIAdQB3AHkAfAB+AIAAggCLAJAAmwCqALMA
				vADGAMgAygDMAM4A0ADVANYA2ADdAOgA8QD+AQIBCAER
				ARgBGQEaARwBIQE3ATsBSAFPAVABUQFTAVoBWwFcAV4B
				YwF4AXsBkAGZAaIBqQG+AcABwgHEAcYBywHMAc4B0wHi
				AeYB7gHzAgYCCQIcAiECJAI2AjkCPgAAAAAAAAIBAAAA
				AAAAAFYAAAAAAAAAAAAAAAAAAAJA
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BannerUsed</key>
					<false/>
					<key>BaseURL</key>
					<string>http://yourhead.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2016 YourHead Software</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.php</string>
						<string>index.html</string>
						<string>index.htm</string>
					</array>
					<key>EmailAddress</key>
					<string>support@yourhead.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va6wCAAAAAAQQMAAA
							AKoz5EautyGe32ta+5VP
							7S64cWoDG12cjL+vnEax
							0CdqqAEAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAADAAAAAQEAAGlh
							YwAHAAAAAQEAAERlc2t0
							b3AABwAAAAEBAABwdWJs
							aXNoABAAAAABBgAAEAAA
							ACAAAAAsAAAAPAAAAAgA
							AAAEAwAAuzAGAAAAAAAI
							AAAABAMAAPuFBgAAAAAA
							CAAAAAQDAAAMhgYAAAAA
							AAgAAAAEAwAAiFVHAAAA
							AAAQAAAAAQYAAGQAAAB0
							AAAAhAAAAJQAAAAIAAAA
							AAQAAEG9ru44AAAAGAAA
							AAECAAACAAAAAAAAAA8A
							AAAAAAAAAAAAAAAAAAAI
							AAAABAMAAAIAAAAAAAAA
							BAAAAAMDAAD1AQAACAAA
							AAEJAABmaWxlOi8vLwgA
							AAABAQAAQm9iYUZldHQI
							AAAABAMAAACA5gh3AAAA
							CAAAAAAEAABBvZcqfAAA
							ACQAAAABAQAANzA0M0Iw
							NTktMkM1OC0zOUNGLUIw
							MTEtMzM1OUZGMTQxRTMz
							GAAAAAECAAABAQAAAQAA
							AO8TAAABAAAAAAAAAAAA
							AAABAAAAAQEAAC8AAAAA
							AAAAAQUAAMwAAAD+////
							AQAAAAAAAAAQAAAABBAA
							AEwAAAAAAAAABRAAAKQA
							AAAAAAAAEBAAAMwAAAAA
							AAAAQBAAALwAAAAAAAAA
							AiAAAJQBAAAAAAAABSAA
							AAgBAAAAAAAAECAAABgB
							AAAAAAAAESAAAEgBAAAA
							AAAAEiAAACgBAAAAAAAA
							EyAAADgBAAAAAAAAICAA
							AHQBAAAAAAAAMCAAAKAB
							AAAAAAAAAcAAAOwAAAAA
							AAAAEcAAACAAAAAAAAAA
							EsAAAPwAAAAAAAAAENAA
							AAQAAAAAAAAA
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Test Publish</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Voyager</string>
					<key>TitleText</key>
					<string>My Website</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>150C0C41-97E1-456C-8EAB-4C4040D61DA6_rwbackup</string>
					<key>UserAgentResizingPreset</key>
					<integer>0</integer>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<false/>
					<key>useDocumentPortability</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
